supabase==2.18.1
python-dotenv==1.1.1
mangum==0.19.0
fastapi==0.116.1
uvicorn==0.35.0
bcrypt==4.3.0
sqlalchemy==2.0.43
asyncio==4.0.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.32
langchain-anthropic==0.3.19
langgraph==1.0.1
sqlalchemy==2.0.43
psycopg2-binary==2.9.11
email_validator==2.3.0
pyjwt[crypto]==2.10.1
pypdf==6.5.0
loguru==0.7.3
playwright==1.57.0
python-pptx==1.0.2
google-genai==1.57.0
stripe==14.2.0
boto3==1.42.32
asyncpg==0.31.0